<% @current_user.followers.each do |user| %>
    <section class="card my-5 shadow size" style="background-color: rgb(5,70,10);">
<div class="card-body text-light">
    <%=user.username %> 
    <%= button_to "Unfollow", unfollow_path(user) %>
    </div>
    </section>

<% end %>