<%= form_with(model: @job_application,  html: { style: "min-width: 50%;" }) do |form| %>

    

<div class="mb-3">
<%= form.label :cv, "Upload your Cv " %>
<%=form.file_field :cv %>
</div>

 <div class="mb-3">
    <%= form.submit "Submit" , class: "btn btn-primary" %>
    </div>

    <% end %>s