 <% if @user_inf.exist == false %>

<a class="btn btn-primary" href="new_user_inf" role="button">Fill</a>

<% end %>

<% if @user_inf.exist == true %>

<a class="btn btn-primary" href="#" role="button">Show</a>

<% end %>