<%= form_with(model: @job_application, url:job_apply_path , html: { style: "min-width: 50%;" }) do |form| %>

 <section class="card my-5 shadow" style="background-color: rgba(114, 108, 248, 0.3);">
                   <div class="card-body">   

<div class="mb-3">
<%= form.label :cv, "Upload your Cv " %>
<%=form.file_field :cvv %>
</div>

 <div class="mb-3">
    <%= form.submit "Submit" , class: "btn btn-primary" %>
    </div>

    </div>
    </section>

    <% end %>

    